<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Edit Trip</h2>

        <%= render 'form', trip: @trip %>
        <%= link_to 'Show', @trip, class: 'btn btn-default btn-sm' %> |
        <%= link_to 'Back', trips_path, class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>
</div>
