<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">New Ticket</h2>

        <%= render 'form', ticket: @ticket %>
        <%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>
</div>
