<p>
  <strong>Number:</strong>
  <%= @ticket.number %>
</p>

<%= link_to 'Edit', edit_trip_ticket_path, class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
